.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  min-height: 30rem;
  border-radius: 10px;
  box-sizing: border-box;
}
.head {
  border: 1px solid #d1d1d1;
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
}
.body {
  height: 80%;
  width: 100%;
  border-radius: 0rem 0rem 10px 10px;
  border: 1px solid #d1d1d1;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.notifyPic {
  width: 1.5rem;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
#subHeading {
  color: #808080;
}
#heading {
  color: #343434;
}
.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-tag {
  background-color: #4d3f87;
  color: blue;
}
#sendBtn {
  background-color: #4d3f87;
  text-transform: none;
  width: 6rem;
}
.titleSection {
  border: 1px solid #ccc;
  min-height: 3rem;
  border-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  gap: 2px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.titleSection > input {
  border: none;
  min-height: 1rem;
  font-size: 16px;
  font-family: Sora;
}
.titleSection > input:focus {
  outline: none;
}
textarea::-webkit-scrollbar {
  width: 1em;
}
.titleSection > textarea {
  font-family: Sora;
  font-size: 16px;
  outline: none;
  border: none;
  resize: none;
}
.titleSection > label {
  color: #b1b1b1;
}
.toTag {
  position: relative;
  top: 23px;
  left: 13px;
  z-index: 10;
  color: #b1b1b1;
}

.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-tag {
  background-color: #d4d1e2;
  color: #1a1a1a;
  height: 1.7rem;
  size: small;
  font-family: sora;
  font-size: 14px;
}
.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root,
.MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root {
  background-color: white;
  border: 1px solid #d1d1d1;
}

.bottomSection {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 1.5rem;
  margin-bottom: 0.8rem;
}
.css-1h51icj-MuiAutocomplete-root .MuiFilledInput-root.MuiInputBase-sizeSmall {
  border-radius: 5px;
}
#settingsBtn {
  background-color: #4d3f87;
  text-transform: none;
  width: 4rem;
  position: absolute;
  left: 92%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert {
  border: 1px solid #d9baba;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5d2d2;
  animation: fadeIn 0.5s ease-in-out;
}
strong {
  display: flex;
  gap: 3px;
}
#alertTitle {
  display: flex;
  justify-content: space-between;
}
.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root.MuiInputBase-sizeSmall
  .MuiFilledInput-input::placeholder {
  font-family: Sora;
  opacity: 0.8;
  max-width: 16rem;
}
.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root.MuiInputBase-sizeSmall
  .MuiFilledInput-input {
  font-size: medium;
  margin-bottom: 8px;
}
.css-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  font-size: 16px !important;
  color: #1c1b1f !important;
}
